:root {
  --primary: red;
  --bg: rgb(255, 255, 255);
  --button: rgba(49, 161, 49, 0.993);
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
.wafixed {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 999;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roman", sans-serif;
  background-color: var(--bg);
  color: rgb(0, 0, 0);
}
/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 7%;
  background-color: rgba(255, 255, 255, 0.788);
  border-bottom: 1px solid rgba(255, 18, 18, 0.753);
  position: fixed;
  right: 0;
  top: 0%;
  left: 0;
  z-index: 999;
}

.navbar .navbar1 a {
  display: inline-block;
  color: rgb(0, 0, 0);
  margin: 0 1rem;
  font-size: 1.3rem;
}

.navbar .navbarlogo img {
  position: flex;
}

.navbar .navbar1 a:hover {
  color: var(--primary);
}

.navbar .navbar1 a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
}

.navbar .navbar1 a:hover::after {
  transform: scaleX(0.5);
}
.navbar .navbar1.active {
  right: 0;
}
.navbar .navex a {
  color: rgb(0, 0, 0);
  align-items: center;
  margin: 0 0.5rem;
}

.navbar .navex a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* BAWAH NAVBAR*/
.banner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(img/HEADER\ ATAS.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.banner .content {
  padding: 1rem 7%;
  min-width: 60rem;
}

.banner .content h1 {
  font-size: 4rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.banner .content h1 span {
  color: var(--primary);
}

.banner .content p {
  font-size: 1.5rem;
  color: #fff;
  margin-top: 1.4rem;
  line-height: 1.2;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.banner .content .btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: rgb(250, 250, 250);
  background-color: var(--button);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
/* end nav */

/* Tentang Kami*/
.about,
.produk,
.layanan,
.products,
.kontak {
  padding: 7rem 7% 1.4rem;
}

.about h2,
.layanan,
.produk h2,
.products h2,
.kontak h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 5rem;
}

.about h2 span,
.produk h2 span,
.products h2 span,
.kontak h2 span,
.layanan h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}
.about .row .about-img img {
  width: 100%;
  border-radius: 10%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 1.6;
}

.about a .btn {
  margin-top: 1rem;
  margin-left: 0rem;
  display: inline-block;
  padding: 1rem 1rem;
  font-size: 1.4rem;
  color: rgb(250, 250, 250);
  background-color: var(--button);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/*layanan*/
.layanan .row {
  display: flex;
  flex-wrap: wrap;
}
.layanan .row .about-img {
  flex: 1 1 45rem;
}
.layanan .row .about-img img {
  width: 100%;
  border-radius: 10%;
}

.layanan .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.layanan .row .content h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.layanan .row .content p {
  margin-bottom: 0.8rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 1.6;
}

.layanan .row .content .btn {
  margin-top: 1rem;
  margin-left: 0rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  color: rgb(250, 250, 250);
  background-color: var(--button);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/*Produk*/

.prorduk h2 {
  margin: 1rem;
}
.produk p {
  text-align: center;
  font-size: 1.5rem;
  max-width: 50rem;
  margin: auto;
}

.produk .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5rem;
}
.produk .row .menu-card {
  text-align: center;
}

.produk .row .menu-card img {
  border-radius: 20%;
  width: 80%;
  margin-top: 2.5rem;
}
.produk .row .menu-card h3 {
  font-size: 2rem;
}
.produk .row .menu-card .menucard-title {
  margin: 1.5rem auto 0.5rem;
}

.produk .row .menu-card .menucard-price {
  font-size: 1.5rem;
}
/*kontak section*/
.kontak .row {
  display: flex;
  margin-top: 2rem;
  background-color: rgba(39, 39, 39, 0.151);
  flex-wrap: wrap;
}
.kontak h2 {
  margin-bottom: 0rem;
}
.kontak .row .maps {
  width: 100%;
  object-fit: cover;
  flex: 1 1 45rem;
}
.kontak .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.kontak .row .content h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: rem;
}

.kontak .row .content p,
.kontak .row a {
  margin-bottom: 0.8rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 1.6;
  color: #070707b9;
}

.kontak .row .content .btn {
  margin-top: 2rem;
  margin-left: 0rem;
  display: inline-block;
  padding: 1rem 1rem 1rem;
  font-size: 1.2rem;
  color: rgb(250, 250, 250);
  background-color: var(--button);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.kontak .row .content .btn:hover {
  background-color: var(--primary);
}

/*footer*/
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 1rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #f8f4f4;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: white;
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #f7f7f7;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit p {
  color: white;
  font-weight: 700;
}

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 70%;
  }
  .produk .row .produk-card img {
    width: 30rem;
    border-radius: 70%;
    height: auto;
  }

  /* Tablet */
  @media (max-width: 768px) {
    html {
      font-size: 60%;
    }

    .navbar {
      flex-wrap: nowrap;
    }
    #hamburger-menu {
      display: inline-block;
    }

    .navbar .navbar1 {
      position: absolute;
      top: 100%;
      right: -100%;
      background-color: rgba(253, 253, 253, 0.712);
      width: 30rem;
      height: 100vh;
      transition: 0.3s;
    }

    .navbar .navbar1.active {
      right: 0;
    }

    .navbar .navbar1 a {
      color: black;
      display: block;
      margin: 1.5rem;
      padding: 0.5rem;
      font-size: 2rem;
    }

    .navbar .navbar1 a::after {
      transform-origin: 0 0;
    }

    .navbar .navbar1 a:hover::after {
      transform: scaleX(0.2);
    }

    .about .row {
      flex-wrap: wrap;
    }

    .about .row .about-img img {
      height: 24rem;
      object-fit: cover;
      object-position: center;
    }

    .about .row .content {
      padding: 0;
    }

    .about .row .content h3 {
      margin-top: 1rem;
      font-size: 2rem;
    }

    .about .row .content p {
      font-size: 1.6rem;
    }

    .produk p {
      font-size: 1.2rem;
    }
    .about .row .content .btn {
      margin-left: 30rem;
    }
  }

  /* Mobile Phone */
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
    .menu .row .menu-card img {
      border-radius: 8px;
    }
  }
  .banner .content h1 {
    font-size: 3rem;
  }
  .about .row .content .btn {
    margin-left: 18rem;
  }

  /* Media Queris */

  /* Media Queries */
}
